.header {
  width: 80vw;
  max-width: 1067px;
  margin: 0 auto;
}

.header__title {
  padding: 100px 0 0 0;
  margin-bottom: 0;
  font-size: 55px;
  font-weight: normal;
}

.header__description {
  font-size: 19px;
}

@media only screen and (max-width: 613px) {
  .header {
    width: 90vw;
  }

  .header__title {
    padding-top: 120px;
    font-size: 29px;
  }

  .header__description {
    margin-top: 10px;
    font-weight: lighter;
  }
}