.staffCard {
  position: relative;
  width: 245px;
  display: flex;
  flex-direction: column;
  margin-bottom: 35px;
  box-shadow: 0 3px 10px #0000001A;
  background-color: #fff;
}

.staffCard:hover {
  transform: scale(1.01);
  cursor: pointer;
}

.staffCard__imgContainer {
  overflow: hidden;
  object-fit: cover;
  width: 245px;
  height: 245px;
}

.staffCard__img {
  height: 260px;
}

.staffCard__info {
  border-top: 3px solid #FF4560;
  padding: 0 10px;
}

/* .staffCard__info p {
  margin: 5px 0;
} */

.staffCard__name {
  font-size: 21px;
  font-weight: medium;
  margin: 20px 0 0 0;
}

.staffCard__title {
  font-size: 15px;
  font-weight: lighter;
  margin: 5px 0 10px 0;
}

.staffCard__location {
  position: absolute;
  color: #fff;
  padding: 8px 10px;
  background: transparent linear-gradient(89deg, #EC840B 0%, #961D66 100%) 0% 0% no-repeat padding-box;
}

/* https://stackoverflow.com/questions/40628465/create-three-vertical-dots-ellipsis-inside-a-circle/40636741 */

.staffCard__threeDots {
  position: absolute;
  right: 0;
  top: 0;
  background: #fff;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  box-shadow: 0 3px 6px #00000029;
  margin: 205px 10px 0 0;
}
.staffCard__threeDots:after {
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  width: 2px;
  height: 2px;
  margin-left: -1px;
  margin-top: -1px;
  background-color: #FF4560;
  border-radius: 50%;
  box-shadow: 0 0 0 1px #FF4560, 6px 0 0 1px #FF4560, -6px 0 0 1px #FF4560;
}

.staffCard__threeDots:hover {
  transform: scale(1.05);
}

@media only screen and (max-width: 613px) {
  .staffCard {
    width: 100%;
    display: grid;
    margin-bottom: 20px;
    grid-template-columns: 1fr 3fr;
  }
  
  .staffCard__imgContainer {
    overflow: hidden;
    object-fit: cover;
    width: 100%;
    height: 25vw;
    /* min-height: 80px; */
    border-right: 3px solid #FF4560;
    grid-column: 1 / 2;
  }
  
  .staffCard__img {
    height: 100%;
  }
  
  .staffCard__info {
    border-top: none;
    padding: 0 10px;
    grid-column: 2 / 3;
  }
  
  .staffCard__name {
    font-size: 17px;
    font-weight: medium;
    margin: 10px 0 0 0;
  }
  
  .staffCard__title {
    font-size: 13px;
    font-weight: lighter;
    margin: 5px 0 10px 0;
  }
  
  .staffCard__location {
    font-size: 14px;
    position: absolute;
    bottom: 0;
    color: #fff;
    padding: 6px 8px;
  }
  
  /* https://stackoverflow.com/questions/40628465/create-three-vertical-dots-ellipsis-inside-a-circle/40636741 */
  
  .staffCard__threeDots {
    top: unset;
    bottom: 0;
    background: #fff;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    box-shadow: 0 3px 6px #00000029;
    margin: 0px 10px 10px 0;
  }
  .staffCard__threeDots:after {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    width: 2px;
    height: 2px;
    margin-left: -1px;
    margin-top: -1px;
    background-color: #FF4560;
    border-radius: 50%;
    box-shadow: 0 0 0 1.5px #FF4560, 8
    px 0 0 1.5px #FF4560, -8px 0 0 1.5px #FF4560;
  }
}