.mainContainer {
  color: #273044;
  background-color: #F4F4F4;
  background-image: url(./assets/Background.svg);
  margin: 0 auto;
}

.mainContainer__content {
  padding: 70px auto 0 auto;
}

p {
  word-break: break-word;
}

@media only screen and (max-width: 613px) {

  .mainContainer {
    background-image: unset;
   }
}